{% extends 'base.html' %}
{% load static %}

{% block title %}
Expense Category
{% endblock title %}

{% block content %}
    <main>
        <h1>My Expenses</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.recipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </main>
{% endblock content %}
